<nav class="navbar fixed-top navbar-expand-lg navbar-dark homenav p-md-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Heal the World</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="names">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                
              </ul>

          </div>
        
      </div>
    </div>
</nav>
<div class="container">
    <div class="row contentlogin1">
      <div class="col-sm-12 col-mb-12 col-lg-12">

      <div class="col-sm-12 col-mb-12 col-lg-12">
        <h3 class="signin-text mb-3"> Change Password</h3>
        <form id="form2" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" required="" class="formtheme form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" required="" class="formtheme form-control">
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" name="passwordConf" required="" class="formtheme form-control">
          </div>
          <input type="submit" value="Change" class="btn loginbutton">
        </form>
        <div class="mes">
        <div class="mssg bg-info">
            <span id="check" ></span>
        </div>
      </div>
        <div id="LangTable"><a href="/dashboard" id="aa"></a>
        </div>
        <div  class="loginpermission1"><span>Login?</span><a href="/login">Click here</a></div>
        <div id="LangTable"><a href="/login" id="aa"></a>
        </div>
      </div>
    </div>
  </div>
  </div>