<div class="d-flex" id="wrapper">

        <div class="bg-darker" id="sidebar-wrapper">
                <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold">Heal the World</div>
                <div class="list-group list-group-flush my-3">
                    <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold "><i
                            class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/analytics" class="list-group-item list-group-item-action bg-transparent second-text fw-bold  "><i
                            class="fas fa-chart-line me-2"></i>COVID-19 Analytics</a>
                    <a href="/covidtest" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-vial me-2"></i>COVID-19 Self Test</a>
                    <a href="/findnearhospital" class="list-group-item list-group-item-action bg-transparent second-text fw-bold active"><i
                            class="fas fa-map-marker-alt me-2"></i>Find Near Hospitals</a>        
                    <a href="/vaccination" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-syringe me-2"></i>Vaccination Center</a>
                    <a href="/profile" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-id-card me-2"></i>Profile</a>
                    <a href="/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                            class="fas fa-power-off me-2"></i>Logout</a>
                </div>
            </div>

        <div id="page-content-wrapper">
            <nav class="navbar navtit navbar-expand-lg py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="titlenav">Find Near Hospitals</h2>
                </div>
            </nav>

      
 

<div class="main-content" id="panel">

  
  <div class="card bg-dark">
  <div class="card bg-dark">
    
    <div class="container car bg-info">
      <div class="card car bg-dark">
        <div class="card-body bus bg-dark">
          <%- include('../hcl-sdk-web-ui/src/index.html') %>
        </div>
      </div>
      
      
      </div>
  </div>
</div>
  </div>
</div>
</div>
  